grey = #f8f8f8
darkGrey = #171717
lighGrey = #8e8e8e
orange = #ff8000

body
  font-family 'Lora', Georgia, serif
  font-size 21px
  line-height 1.52
  background-color grey
  text-rendering optimizeLegibility

.content-wrap
  width 34em
  margin 0 auto

body, a
  color darkGrey

a
  text-decoration underline
  &:hover
    color orange

p
  margin-bottom 1.52em

h1
  font-size 2em
  margin-bottom 1em

h2
  font-size 1.2em
  font-weight 400
  line-height 1.43
  margin-bottom 1.35em
  a
    text-decoration none

ol, ul
  margin 0 1.4em 1.4em 4em

li
  margin-bottom 0.5em
  list-style none

.header
  margin 3em 0 5em
  margin 1em 0
  h1
    font-size 2.5em
    text-align center
    font-style italic
    font-weight 400
    margin 0 0 -0.2em
  .description
    font-size 1.2em
    font-style italic
    text-align center
    margin-top -0.3em
    font-size 1em

.header a, .header a:hover
  text-decoration none
  color darkGrey

footer
  margin 3.48em 0 3em
  .copy
    text-align center
    font-size 0.7em
    font-style italic
    margin-top 1em

footer .copy, footer .copy a
  color lighGrey
